h1{
    color: rgb(235, 166, 39);
    font-size: 50px;
    font-family:sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.links{
    font-size: 25px;
    color: rgb(207, 43, 43);
    
}
.description{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    font-size: 30px;
}
a{
    color:black;
}
div{
    justify-content: space-around;
}
